# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.whl

# Environments
.env
.env.local
.env.*.local
venv/
.venv/

# Django
*.sqlite3
media/
staticfiles/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / OS
.vscode/
.idea/
.DS_Store

# Docker
*.log

# Misc
*.pem
secrets/
